superkernel:
  embedding_dim: 96
  num_layers: 0
  num_heads: null
  layer_type: linear
  kernel_size: null
  mlp_ratio: null

encoder:
    layers_blocks: [3, 3, 3]
    embedding_dims: [192, 384, 768]

decoder:
  decoded_embed_dim: 512
  num_blocks: 3

# Data configuration
panel_config: configs/all_panels_config.yaml
tokenizer_config: configs/all_markers_tokenizer.yaml
input_image_size: [113, 113]
num_workers: 8
batch_size: 4

# Training configuration
device: cuda:0
lr: 5e-4
final_lr: 1e-6
weight_decay: 0.0001
gradient_accumulation_steps: 1
epochs: 200
num_warmup_steps: 200
min_channels_frac: 0.5
from_checkpoint: null
checkpoints_dir: checkpoints
save_checkpoint_freq: 50

# Neptune logging configuration
tags: ['ConvNext', 'panel-1 data', 'Gaussian NLL']
run_prefix: 'Convnext'
model_type: "Convnext"